.places {
  width: auto;  
  margin: 0 calc(48px + 100 * (100% - 1024px) / 256) 92px;
  outline: 1px solid red;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .places  {
    width: 100%;
    margin: 0 auto 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places  {
    width: auto;    
    margin: 0 calc(48 * (100% - 768px) / 256) 88px;
  }
}

@media screen and (min-width: 1280px) {
  .places  {
    width: 984px;
    margin: 0 auto 92px;
  }
}