.lead {
  width: auto;
  /*Вычисляю боковые отступы функцией для более плавного расширения секции lead
  при увеличении ширины/разрешения экрана. 
  Между брейкпоинтами ширины экрана (1024 и 1280) разница 256px, разница отступов 100px.
  На каждые +64px экрана отступы увеличиваются на 25px. 
  Начиная с экрана 1280 отступы зависят от ширины lead.*/
  margin: 0 calc(48px + 100 * (100% - 1024px) / 256) 92px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .lead {
    width: 100%;
    margin: 0 auto 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead {
    width: auto;
    /*Вычисляю отступы по аналогии с брейкпоинтами (1024 - 1280),
    только начальный отступ равен 0, а увеличение кратно 12*/
    margin: 0 calc(48 * (100% - 768px) / 256) 88px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    width: 984px;
    margin: 0 auto 92px;
  }
}