.cover {
  margin: 0 auto 92px;
  padding: 0;
  width: min(100%, 1024px + 160 * (100% - 1024px) / 256);
  min-height: calc(640px + 100 * (100vw - 1024px) / 256);
  height: 1px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/cover_bg.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2c2f;
  opacity: .3;
  transition: .3s;
}

.cover:hover::before {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .cover {
    margin-bottom: 64px;
    min-height: calc(200px + 280 *(100vw - 320px) / 448);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    margin-bottom: 88px;
    min-height: calc(480px + 160 * (100vw - 768px) / 256);
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    width: 1184px;
    min-height: 740px;
  }
}