.place__link {
  margin-top: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  transition: .3s;
}

.place__link:hover {
  opacity: .5;
}

@media screen and (max-width: 767px) {
  .place__link {
    margin-left: 16px;
  }
}