.place__link {
  margin: 12px 0 0;
  padding: 0;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  transition: .3s;
}

.place__link:hover {
  opacity: .8;
}