.place {
  margin: 0 0 80px;
  width: calc(928px + 56*(100vw - 1024px)/256);
  display: grid;
  grid-template-columns: repeat(2, min-content);
  row-gap: 48px;
  column-gap: calc(32px + 8*(100vw - 1024px)/256);
}

.place:last-child {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .place {
    margin: 0 0 64px;
    width: 100%;
    grid-template-columns: 100%;
    row-gap: 32px;
    column-gap: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    margin: 0 auto 73px;
    width: calc(720px + 208*(100vw - 768px)/256);
    column-gap: calc(28px + 4*(100vw - 768px)/256);
  }
}

@media screen and (min-width: 1280px) {
  .place {
    width: 984px;
    grid-template-columns: 460px 484px;
    grid-template-rows: auto 460px;
    column-gap: 40px;
  }
}